<div class="game-banner">


  <div class="left-bar">
    <h1>
      <% if @game.current_action.split(" ").size == 2 %>
    <%= "
        #{@game.current_action.split(" ")[0]} + #{@game.current_action.split(" ")[1]} = #{@game.current_action.split(" ")[0].to_i + @game.current_action.split(" ")[1].to_i}"
        %>
        <% else %>
          <%= "您正在选择中" %>
            <% end %>
    </h1>
  </div>



  <div class="right-bar">
    <% @game.notes.split("\n").each do |s| %>
      <p>
        <%= s %>
      </p>
      <% end %>
  </div>

  <div class="middle-bar">
    <h1>挑战模式</h1>
    <h1>
      <%=current_user.username%>
    </h1>
    <div class="give-up">
      <% unless @game.game_over==true %>
        <%= link_to "投降" , games_lose_path(:player_id=>@game.player, :game_id => @game), :data => {:confirm =>
          "您是否确定投降？"}, class: "give-up2" %>
          <% end %>
    </div>

    <div class="cheating">
      <%= link_to "作弊您赢了" , games_win_path(:player_id=>@game.player, :game_id => @game) %>
    </div>

  </div>
</div>

<br>
<br>
<br>

<div class="function-buttons">
  <% if @game.game_over == false %>
<div class="game-buttons">
  <% if @game.current_action.split(" ").size == 2 %>
<% sum_card = @game.current_action.split(" ")[0].to_i + @game.current_action.split(" ")[1].to_i %>
<%= link_to " 增加", games_add_cards_path(:my_action=>
    @game.current_action,:player_id=>@game.player, :game_id => @game), method: :get%>
    <% else %>
      <a>增加</a>
      <% end %>
</div>

<div class="game-buttons">

  <% if @game.current_action.split(" ").size == 2 %>
<% sum_card = @game.current_action.split(" ")[0].to_i + @game.current_action.split(" ")[1].to_i %>
<%= link_to " 约分", games_reduce_cards_path(:my_action=>
    @game.current_action,:player_id=>@game.player, :game_id => @game, :selection =>[@game.current_action.split(" ")[0].to_i,@game.current_action.split(" ")[1].to_i]), method: :get%>
    <% else %>
      <a>约分</a>
      <% end %>
</div>

<% else %>
<div class="game-buttons">
<% if @game.status == 'win' %>

      <%= link_to "结束游戏" , games_win_path(:player_id=>@game.player, :game_id => @game) %>
      <% else %>
      <%= link_to "结束游戏" , games_lose_path(:player_id=>@game.player, :game_id => @game) %>
      <% end %>
      <% end %>
    </div>

</div>

<div class="all-cards">



  <% if @game.game_over==true %>
    <div class="gameover">
      <% if @game.status == 'win' %>
      <h1>您赢了</h1>
      <% else %>
      <h1>您输了</h1>
      <% end %>
    </div>
    <% else %>
      <% @game.player.cards.each_with_index do |n,i| %>



        <%= link_to games_select_path(:selected_number=> n, :index => i, :player_id =>@game.player, :game_id =>
          @game), :class=> "single-card" do%>




          <% unless @game.current_action.split(" ").include?(n.to_s) %>
        <div class=" card-title">
            <% if n <=1000 %>
              <%= @game.cards_name_array[n].chop%>

                <% else %>
                  <%= "不明生物" %>
                    <% end %>
</div>

<% else %>



<div class="card-title-selected">
          <%= "✔" %>
</div>

<% end %>

  <div class="card-number">
    <%= n %>
  </div>



<br>

  <% end %>



    <% end %>
      <% end %>

        </div>

<br>
