<h1>您输了</h1>
<div class="back">
  <%= link_to '返回主页' , games_backtomain_path(:game_id => @game), method: :get %>
</div>
<h1><%= @player.original_cards%></h1>
<h1><%= @game.round%></h1>
<h1><%= @player.current_history%></h1>
<h1><%= "您输掉了#{@final_points/4}积分"%></h1>
