<div class="banner">
  <h1>练习模式</h1>
  <h1>
    <%=current_user.username%>
  </h1>
  <h1>
    <%= @game.player.id%>

  </h1>
  <h1>
    <% if @game.current_action.split(" ").size == 2 %>
    <%= "
      #{@game.current_action.split(" ")[0]} + #{@game.current_action.split(" ")[1]} = #{@game.current_action.split(" ")[0].to_i + @game.current_action.split(" ")[1].to_i}"
      %>
      <% else %>
        <%= "您正在选择中" %>
          <% end %>
  </h1>
  <div class="add-sum">
    <% if @game.current_action.split(" ").size == 2 %>
      <% sum_card = @game.current_action.split(" ")[0].to_i + @game.current_action.split(" ")[1].to_i %>
      <%= link_to " Add #{sum_card} to my cards", games_add_cards_path(:my_action=> @game.current_action, :player_id=>@game.player, :game_id => @game), method: :get%>
    <% end %>
  </div>
</div>

<div class="all-cards">



  <% @game.player.cards.each_with_index do |n,i| %>
    <div class="single-card">
      <h1>
        <% if @game.current_action.split(" ").include?(n.to_s) %>
        <%= link_to n,  games_select_path(:selected_number => n, :index => i, :player_id =>@game.player, :game_id => @game), :style=>'color:red; font-size:70px; padding: 15px;', method: :get %>
        <% else %>
        <%= link_to n, games_select_path(:selected_number => n, :index => i, :player_id =>@game.player, :game_id => @game), method: :get%>
        <% end %>
      </h1>
    </div>
    <% end %>
</div>

<a href=" #" class="btn btn-primary">Click me</a>
