<h1><%= current_user.username%></h1>
<h1><%= @player.id%></h1>
<h1><%= @player.default_primes%></h1>
<h1><%= @player.cards%></h1>
<h1><%= @player.range%></h1>
<%= link_to '开始游戏' , games_create_path(:player_id => @player.id), method: :post %>
